@page "/Menu/Eliminar/{TecnicoId:int}"
@inject TecnicosService tecnicosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar Técnico</PageTitle>

<!-- Notificaciones -->
<div class="notification-container">
    <div class="notification error" hidden="@string.IsNullOrEmpty(Confirmacion)">
        @Confirmacion
    </div>
    <div class="notification question">
        @Pregunta
    </div>
</div>

<section class="form-wrapper">
    <div class="form-card shadow-lg rounded">
        <header class="form-card-header text-center">
            <h4>Eliminar Datos del Técnico</h4>
        </header>

        <div class="form-card-body">

            <!-- TecnicoId -->
            <div class="form-group">
                <label for="TecnicoId"><strong>ID del Técnico</strong></label>
                <p id="TecnicoId">@Tecnico.TecnicoId</p>
            </div>

            <div class="divider"></div>

            <!-- Nombre -->
            <div class="form-group">
                <label for="Nombres"><strong>Nombre Completo</strong></label>
                <p id="Nombres">@Tecnico.Nombres</p>
            </div>

            <div class="divider"></div>

            <!-- Sueldo por Hora -->
            <div class="form-group">
                <label for="SueldoHora"><strong>Sueldo por Hora</strong></label>
                <p id="SueldoHora">@Tecnico.SueldoHora.ToString("N2")</p>
            </div>

            <div class="divider"></div>

            <!-- Botones de acción -->
            <footer class="form-card-footer text-center">
                <a href="/Menu/Index" class="btn btn-outline-primary">
                    <span class="bi bi-arrow-left"></span> Volver
                </a>
                <button class="btn btn-outline-danger" @onclick="Eliminar">
                    <span class="bi bi-trash"></span> Eliminar
                </button>
            </footer>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public int TecnicoId { get; set; }

    private Tecnicos Tecnico { get; set; } = new Tecnicos();
    private string Confirmacion { get; set; } = string.Empty;
    private string Pregunta { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicosService.Buscar(TecnicoId);
        Pregunta = "¿Está seguro de eliminar al técnico?";
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicosService.Eliminar(Tecnico.TecnicoId);
        if (eliminado != null)
        {
            Confirmacion = "Registro eliminado correctamente";

            navigationManager.NavigateTo("/Menu/Index");
        }
        else
        {
            Confirmacion = "Error al eliminar el registro";
        }
    }
}
